:root, [data-theme="default"] {
    --body-bg-color: #fff;
    --border-button: 1px solid rgb(198, 196, 196);
}

[data-theme="dark"] {
    --body-bg-color: #444352;
    --border-button: 1px solid rgb(198, 196, 196)
  }
  

.main{
    background-color: var(--body-bg-color);
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 90vh;
}

.img-form{
    margin-top: 55px;
}

.info{
    padding: 10px;
    background-color: #EEEEEE;
    width: 340px;
    height: 550px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.divBtn{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.divBtn button{
    height: 27px;
    width: 220px;
    border: var(--border-button);
    margin-top: 20px;
    border-radius: 5px;
    font-size: 13px;
}

.or{
    font-size: 15px;
}

.input{
    height: 27px;
    width: 220px;
    border: var(--border-button);
    margin-top: 20px;
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
}

.continue{
    height: 32px;
    width: 220px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 13px;
    background-color: #E8D5C4;
    color: white;
    text-align: center;
}

.noAccount{
    font-size: 13px;
}

.create{
    font-size: 14px;
    color: #3A98B9;
    text-decoration: underline;
}

.FcGog{
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
}